.App {
  text-align: center;
  color:azure;
  display:grid;
  grid-template-areas: 
  "head   head   head    head" 
  "nav    body   body    ...." 
  "nav    body   body    ...." ;
  grid-template-rows: .25fr 4fr .75fr;
  grid-template-columns: minmax(150px, 1.5fr) 2.5fr 2.5fr .5fr;
  padding:0;
  margin:0;
  height:100%;
  width: 100%;
}
#navigator{
  grid-area:nav;
  height:100%;
  background-color: darkgoldenrod;
}
.dashboard{
  grid-area: body;
  width:100vw;
  display: grid;
  grid-template-areas: 
  ".. select display .. .."
  ".. select display .. ..";
  grid-template-columns: 1fr 30vw minmax(40vw,50vw) 1fr 1fr;
  gap: 1rem;
}
.itemsInputArea{
  margin: 2px;
  grid-area: select;
  display: flex;
  flex-direction: column;
}
.item-display{
  grid-area: display;
  min-width: 40%;
}
.userList{
  list-style: none;
  padding: 10px;
  color: rgb(251, 158, 135);
  text-decoration: underline;
  background-color: rgb(1, 10, 10);
  width: 100%;
  margin-left:25vw;
}
.who:hover{
  text-decoration: underline;
  color:aquamarine;
  cursor: pointer;
}
.title-bar{
  grid-area: head;
  margin:0;
  display:flex;
  background-color: darkgoldenrod;
  align-items: center;
  min-width:100%;
  justify-content: space-around;
}
.logEntry{
  width:max-content;
}
a{
  text-decoration: none; 
  display:flex;
  justify-content: center;
}
a:visited{
  color: inherit;
}
a:hover{
  color:aquamarine;
  font-weight: bolder;
  margin:0;
}
