.App {
  --bar-color: rgb(33, 50, 106);
  text-align: center;
  color:azure;
  display:grid;
  grid-template-areas: 
  "head   head  head   head" 
  "nav    ..    body   ...." 
  "nav    ..    body   ...." ;
  grid-template-rows: .25fr 4fr .75fr;
  grid-template-columns: 1.5fr .5fr 5fr .5fr;
  padding:0;
  margin:0;
  height:100vh;
  width: 100vw;
}
#navigator{
  grid-area:nav;
  display:flex;
  flex-direction: column;
  padding-top: 1rem;
  /* subtracted 1rem (size of padding) to prevent scrolling */
  height: calc(100% - 1rem);
  background-color: var(--bar-color);
}
#navigator a{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.home{
  grid-area:body;
  margin-top: 1rem;
  overflow: auto;
}
.table{
  color: rgba(249, 255, 127, 0.87);
  width:100%;
}
th, td{
  border-left: 1px solid;
  border-bottom: 1px solid;
}
.dashboard{
  grid-area: body;
  min-width:100%;
  display: grid;
  grid-template-areas: 
  ".. select display .. "
  ".. select display .. ";
  grid-template-columns: 1fr 40% minmax(40%,50%) 1fr;
  gap: 1rem;  
  position: relative;
}
.itemsInputArea{
  margin: 2px;
  grid-area: select;
  display: flex;
  flex-direction: column;
}
.item-display{
  grid-area: display;
  min-width: 40%;
}
#date-time{
  grid-area:select;
}
#new-item-modal{
  position: absolute;
  left:0;
  right: 0;
  bottom: 20%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.914);
}
#modal-x{
  position: absolute;
  right:1rem;
  top:0;
  border-radius: 1rem;
  border-color: rgba(246, 8, 8, 0.414);
  color: inherit;
  font-size: xx-large;
  background-color: rgba(246, 8, 8, 0.414);
}
.item-form-input{
  display: flex;
  justify-content: right;
  min-width: 100%;
}
.userList{
  list-style: none;
  padding: 10px;
  color: rgb(251, 158, 135);
  text-decoration: underline;
  background-color: rgb(1, 10, 10);
  width: 100%;
  margin-left:30vw;
}
.title-bar{
  grid-area: head;
  margin:0;
  display:flex;
  background-color: var(--bar-color);
  align-items: center;
  min-width:100%;
  justify-content: space-around;
  text-justify: right;
}
#welcome{
  width: 80%;
}
.who{
  width:20%;
  font-size: 1rem;
  /* border-right: 2px dotted; */
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#activeUser{
  font-size: 1.5rem;
  font-weight: bold;
}
.who a:hover{
  text-decoration: underline;
  color:red;
  cursor: pointer;
}
.logEntry{
  width:max-content;
}
a{
  text-decoration: none; 
  display:flex;
  justify-content: center;
}
a:visited{
  color: inherit;
}
a:hover{
  color:aquamarine;
  font-weight: bolder;
  margin:0;
}
