.App {
  text-align: center;
  color:azure;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:0;
  margin:0;
}
.dashboard{
  width:100vw;
  display: grid;
  grid-template-areas: 
  ".. select display .."
  ".. select display ..";
  grid-template-columns: 1fr 30vw minmax(40vw,50vw) 1fr;
  gap: 1rem;
}
.itemsInputArea{
  margin: 2px;
  grid-area: select;
  display: flex;
  flex-direction: column;
}
.item-display{
  grid-area: display;
  min-width: 40%;
}
.userList{
  list-style: none;
  padding: 10px;
  color: rgb(251, 158, 135);
  text-decoration: underline;
  background-color: rgb(1, 10, 10);
  width: 100%;
}
.who:hover{
  text-decoration: underline;
  color:aquamarine;
  cursor: pointer;
}
.navbar{
  margin:0;
  display:flex;
  background-color: darkgoldenrod;
  align-items: center;
  width:100%;
  justify-content: space-around;
}
a{
  text-decoration: none; 
  display:flex;
  justify-content: center;
}
a:visited{
  color: inherit;
}
.user:hover{
  color:aquamarine;
  font-weight: bolder;
  margin:0;
}
